*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.xml
*.xml
openCVLibrary320/build/generated/source/aidl/debug/org/opencv/engine/OpenCVEngineInterface.java
openCVLibrary320/build/generated/source/aidl/release/org/opencv/engine/OpenCVEngineInterface.java
openCVLibrary320/build/generated/source/buildConfig/androidTest/debug/org/opencv/test/BuildConfig.java
openCVLibrary320/build/generated/source/buildConfig/debug/org/opencv/BuildConfig.java
openCVLibrary320/build/generated/source/buildConfig/release/org/opencv/BuildConfig.java
.idea/misc.xml
*.class
*.txt
*.txt
